
/* ::::: null ::::: */

.nojs { display: none; }

/* ::::: http://www.sciencedirect.com.proxy.library.emory.edu/gadgetcontext/gadgets/css/toolbar.css ::::: */

controlsbody { font-family: Arial,verdana,helvetica,sans-serif; margin: 0pt; font-size: 75%; }
h1, h2, h3, h4, p { margin: 0pt; }
a, a:link { color: rgb(1, 86, 170); text-decoration: none; }
a:visited { color: rgb(132, 0, 132); }
a:hover, a:focus { color: rgb(1, 86, 170); text-decoration: underline; }
a:active { color: rgb(51, 51, 51); text-decoration: underline; }
a.disabled, a.diabled:link, .disabled, a.disabled:visited, a.disabled:hover, a.disabled:focus, a.disabled:active { color: rgb(155, 155, 155); }
img { border: 0pt none; }
.boxYellow { -moz-border-radius: 2px 2px 2px 2px; background-color: rgb(254, 255, 187); border: 1px solid rgb(254, 199, 108); }
.boxGrey { -moz-border-radius: 2px 2px 2px 2px; background-color: rgb(247, 247, 247); border: 1px solid rgb(205, 205, 203); }
.toolbarHead { float: left; width: 100%; }
.toolbarBody { float: left; padding: 0pt 0pt 5px; border: 1px solid rgb(186, 186, 186); width: 100%; background: none repeat scroll 0% 0% white; }
.toolbarHoriShowHide { margin: 0pt; padding: 0pt; border: 1px solid rgb(186, 186, 186); width: 100%; text-align: center; height: 18px; font-size: 12px; cursor: pointer; font-weight: normal; color: rgb(1, 86, 170); text-decoration: none; clear: both; background: none repeat scroll 0% 0% rgb(235, 235, 235); }
#toolbar { position: relative; }
.toolbarfoot { position: relative; padding-bottom: 0px; margin: 0pt; float: left; width: 100%; }
.toggleImg { background: none repeat-y scroll 0pt 0pt transparent; float: left; padding: 0pt 0pt 5px; width: 15px; cursor: pointer; }
.toolbarHead h2 { font-size: 1.17em; padding: 3px 0pt 3px 6px; background: none repeat scroll 0% 0% rgb(235, 235, 235); border-bottom: 1px solid rgb(186, 186, 186); }
.toolbarHead a { font-size: 1em; }
.containerAddManage { border-bottom: 1px solid rgb(155, 155, 155); width: 100%; background: none repeat scroll 0% 0% rgb(235, 235, 235); }
.toolbarHeadFull { float: left; width: 100%; }
.toolbarfootFull { padding-bottom: 0px; margin: 0pt 0pt 5px; float: left; width: 100%; }
.toolbarBodyFull { float: left; padding: 0pt 0pt 5px; border: 1px solid rgb(186, 186, 186); width: 100%; }
.toolbarHeadFull h2 { font-size: 1.17em; padding: 6px 0pt 0pt 6px; background: none repeat scroll 0% 0% rgb(235, 235, 235); }
.toolbarHeadFull a { font-size: 1em; }
.containerAddManageFull { border-bottom: 1px solid rgb(155, 155, 155); float: left; width: 100%; }
.containerApplOver { margin: 5px 0pt 0pt; padding: 0pt 2px; }
.containerApplOver img.heading { float: left; margin: 2px 0pt 0pt 4px; height: 20px; width: 20px; }
.col1 { float: left; width: 33.3%; }
.col2 { float: left; width: 33.3%; }
.col3 { float: left; width: 33.3%; }
.addManage { padding: 8px 0pt 5px; float: left; background: none repeat scroll 0% 0% rgb(235, 235, 235); }
a.iconadd { background: url('@22@22') no-repeat scroll 0pt 1px transparent; padding: 0pt 0pt 0pt 15px; margin: 0pt 0pt 0pt 5px; }
.help { margin: 6px 2px 5px 0pt; float: right; }
.help_horizontal { margin: 6px 2px 5px 0pt; float: right; }
.addManageHome { padding: 7px 0pt 0pt 1px; float: right; background: none repeat scroll 0% 0% rgb(235, 235, 235); margin-right: 6px; }
.helpHome { margin: 6px 2px 5px 0pt; float: right; }
.containerAppl { margin: 5px 0pt 0pt; padding: 0pt 0pt 0pt 4px; width: 240px; float: left; }
.containerAppl:hover { cursor: move; }
.containerAppl img.heading { float: left; padding: 0pt 0pt 0pt 5px; }
h3.elsevierTimeL { float: left; text-align: left; padding: 2px 0pt 3px 0px; font-weight: normal; font-size: 12px; margin: 4px 0pt 0pt 5px; width: 54%; }
h3.elsevierTimeLOver { float: left; font-size: 12px; font-weight: bold; margin: 3px 2px 0pt 5px; padding: 2px 0pt 3px; width: 54%; text-align: left; }
.Controls { float: right; width: 60px; position: relative; z-index: 1; margin-top: 0px; }
.Controls ul { margin: 0pt; padding: 5px 0pt 0pt; z-index: 1; }
.Controls ul li { margin: 0pt 5px 0pt 0pt; float: left; list-style-type: none; z-index: 1; }
.containerAppDetails { border-right: 1px solid rgb(254, 199, 109); border-style: solid; border-color: rgb(254, 199, 109); border-width: 0px 1px 1px; }
.containerAppDetails p { margin: 4px 0pt 0pt; }
.containerAppDetailsCanvas { padding-bottom: 3px; margin-bottom: 5px; border-right: 1px solid rgb(254, 199, 108); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(254, 199, 108); width: 99.8%; }
.curveBoxleftCanvas { height: 25px; padding: 0pt 0pt 0pt 4px; }
.Controls ul .submenu { border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(249, 249, 249); position: absolute; top: 10px; left: -105px; width: 100px; padding: 2px 0pt; clear: both; z-index: 2; display: none; text-align: left; }
.Controls ul .submenu li { background: none repeat scroll 0% 0% rgb(249, 249, 249); display: block; float: none; margin: 0pt 2px 2px; border: 0pt none; height: 18px; line-height: normal; z-index: 1000; }
.Controls .submenu li a { background: none repeat scroll 0% 0% rgb(249, 249, 249); display: block; float: none; padding: 3px; margin: 0pt; border: 0pt none; height: auto; color: rgb(16, 92, 190); line-height: normal; }
.Controls .submenu li a:hover { background: none repeat scroll 0% 0% rgb(227, 237, 239); }
iframe.selectOverlap { position: absolute; z-index: -1; border: 0pt none; margin: 0pt; padding: 0pt; top: 0pt; left: 0pt; overflow: hidden; }
.curveBoxleft { height: 25px; padding: 0pt 0pt 0pt 4px; width: 92%; }
.curveBoxBody { height: 25px; }
.curveBoxRight { height: 25px; }
.curveBoxRight img.heading { float: left; margin: 2px 0pt 0pt 4px; height: 20px; width: 20px; }
.CanvasControls { float: right; width: 65px; position: relative; z-index: 1; margin-top: 2px; }
.CanvasControls ul { margin: 0pt; z-index: 1; list-style-type: none; }
.CanvasControls ul li { margin: 4px 0pt 0pt; list-style-type: none; z-index: 1; }
.CanvasControls ul .submenu { border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(249, 249, 249); position: absolute; top: 10px; left: -145px; width: 140px; padding: 2px 0pt; clear: both; z-index: 2; display: none; }
.CanvasControls ul .submenu li { background: none repeat scroll 0% 0% rgb(249, 249, 249); display: block; float: none; margin: 0pt 2px 2px; border: 0pt none; height: 18px; line-height: normal; z-index: 1000; }
.CanvasControls .submenu li a { background: none repeat scroll 0% 0% rgb(249, 249, 249); display: block; float: none; padding: 3px; margin: 0pt; border: 0pt none; height: auto; color: rgb(16, 92, 190); line-height: normal; }
.CanvasControls .submenu li a:hover { background: none repeat scroll 0% 0% rgb(227, 237, 239); }
.containerAppDetailsRes { border: 0px solid rgb(226, 205, 162); width: 99%; float: left; }
.curveBoxleftOver { height: 25px; padding: 0pt 0pt 0pt 0px; margin: 0pt; width: 99%; }
.curveBoxBodyOver { height: 25px; margin: 0pt; padding: 0pt; }
.curveBoxRightOver { height: 25px; margin: 0pt; padding: 0pt; }
.space { padding: 5px 0pt 0pt 0px; }
.curveBoxleftNormal { height: 25px; padding: 0pt 0pt 0pt 0px; margin: 0pt; }
.curveBoxBodyNormal { height: 25px; margin: 0pt; padding: 0pt; }
.curveBoxRightNormal { height: 25px; margin: 0pt; padding: 0pt; }
#canvas { background-color: rgb(255, 255, 255); height: 99%; left: 0pt; margin-top: 5px; padding-bottom: 25px; padding-left: 4px; position: absolute; text-align: center; top: 178px; width: 99.7%; z-index: 100; }
.truncateTitle { width: 58%; overflow: hidden; }
